*
!app/
!app/**
!apps/
!apps/**
!assets/
!assets/**
!components/
!components/**
!contexts/
!contexts/**
!lib/
!lib/**
!locales/
!locales/**
!types/
!types/**
!utils/
!utils/**
!scripts/
!scripts/**
!app.json
!app.config.*
!eas.json
!babel.config.*
!metro.config.*
!tsconfig.json
!tailwind.config.*
!global.css
!nativewind-env.d.ts
!package.json
!package-lock.json
!.npmrc
!.env
node_modules/
ios/
android/
.expo/
.git/
