EXPO_PUBLIC_API_URL=https://api.vexellabspro.com/api/p
EXPO_PUBLIC_OPS_URL=https://ops.vexellabspro.com
EXPO_PUBLIC_REVENUECAT_KEY=your_revenuecat_api_key_here
EXPO_PUBLIC_SENTRY_DSN=your_sentry_dsn_here
